.deploy-popup {
    margin-bottom: 10px;
}

.deploy-popup__select {
    width: 100%;
    margin-bottom: 10px;
}

.deploy-popup__deploy-btn-container {
    float: right;
}

.deploy-progress {
    margin-top: 10px;
    display: flex;
    padding: 20px;
    align-items: center;
}

.deploy-progress__text {
    margin-left: 10px;
}