.header {
    height: 50px;
    border-bottom: 1px solid lightgray;
    padding: 10px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    margin-bottom: 25px;
}

.header__title{
    font-size: 20px;
    color: #000;
    text-decoration: none;
}